*{
	margin: 0;
	padding: 0;
}
#canvas1{
	border: 1px solid #333;
	position: relative;
	left: 50%;
	margin-left: -192px;
	
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;    

}
#reset{
	width: 180px;
	height: 46px;
	position: absolute;
	left: 50%;
	margin-left: -92px;
	top: 300px;
	cursor: pointer;
	display: none;
}
#start{
	position: absolute;
	left: 50%;
	margin-left: -87px;
	width: 180px;
	height: 46px;
	display: block;
	top: 300px;
	cursor: pointer;
	-moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;   
}
#shezhi{
	position: absolute;
	left: 50%;
	top: 10px;
	margin-left: 130px;
	cursor: pointer;
}